@import url("https://use.typekit.net/fzr3gwq.css");

.Input{
    font-size:25px !important;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px inset rgba(0, 0, 0, 0.102);
    border:none;
    width:100%;
    border-bottom: 2px solid grey;
    padding:10px 20px 5px ;
    font-family: industry, sans-serif;
    font-weight: 500;
    background-color: rgb(248, 251, 249);
    &:focus{
        outline:none
    }
}