$color-primary: #20232a;
$red: rgb(176, 34, 64);
$orange: hsl(29, 70%, 47%);
$yellow: hsl(49, 75%, 54%);
$pale:hsl(231, 73%, 85%);
$paler:hsl(230, 100%, 95%);
$blue: hsl(267, 33%, 34%);
$aqua: hsl(171, 55%, 33%);
$green: hsl(129, 45%, 34%);