.OfflineNotification{
    width:330px;
    position: absolute;
    bottom:15px;
    color:black;
    border-radius:5px;
    z-index:100;
    opacity: 0;
    padding:15px 10px;
    animation: fade 12s forwards ease-in-out 2s;
    transform-origin: 50% 50%;
    left:calc(50% - 165px);
    font-family: 'industry', sans-serif;
   p{margin:0;
font-size:13px;}
   h4{font-size:15px;
font-weight:700;}
}

@keyframes fade {
    0%{transform:scale(1) translateY(20px);
    opacity:0}
    10%{transform: scale(1);
    opacity:1}
    80%{transform: scale(1);
        opacity:1}
    100%{transform:translateY(40px);
    opacity:0}}