.arrow_down{
    width: 0; 
    height: 0;
    position: relative;
    display: inline-block;
    left:10px;
    top:-2px;
    transition: 0.3s;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    
    border-top: 6px solid rgb(255, 255, 255);
  }